/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  flex: 0 1 auto;
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* Center the image and make it circular */
#intro-image {
  text-align: center;
  padding: 90px 0;
}
#intro-image .hello p {
  color: #ccc;
  font-size: 20px;
  margin-bottom: 30px;
}
#intro-image .hello h2 {
  font-size: 40px;
  color: #ccc;
}
.circular-image {
  width: 350px; /* Set the desired width */
  height: 350px; /* Set the desired height */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the circular area without stretching */
  border: 3px solid #ccc;
  object-position: center 10%; /* Optional: add a border around the image */
}

.hello .btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

#about,
#projects,
#contact {
  padding: 90px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

#about h2,
#projects h2,
#contact h2 {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

#about p {
  padding: 10px 40px;
  color: white;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.project-card {
  flex: 0 1 calc(33% - 20px);
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.project-card img {
  max-width: 100%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.project-card p {
  color: purple;

  font-family: "Cursive", "Comic Sans MS", "Lucida Handwriting", sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
#video-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding-top: 20%;
}

@media (max-width: 800px) {
  #video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  #bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}
.project-card {
  width: 100%;
}

nav ul {
  flex-direction: row;
}
#intro-image .hello p {
  font-size: 20px;
}

#intro-image .hello h2 {
  font-size: 37px;
}
@media (max-width: 800px) {
  .project-card {
    flex: 0 1 calc(80% - 150px);
    align-items: center;
    justify-content: center;
  }

  .hero-content h2 {
    font-size: 26px;
  }
}
